.card{
  width: 90% !important;
}
@media (max-width: 768px) {
  .card{
    width: 100% !important;
  }
  .title-mobile {
    font-size: 1rem;
    font-weight: 600;
  }

  .text-mobile {
    font-size: 0.82rem;
    line-height: 1.25;
  }
}


